// Navigation Styles here

header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    nav {

        a{
          font-size: 1.70rem;
          display:flex;
          justify-content: flex-start;
        }
        
        
        
    }

    h4{
    
    }
}